[Unit]
Description=Cobbler Helper Daemon
After=syslog.target network.target

[Service]
ExecStart={{ cobbler_install_dir }}/bin/cobblerd -F
ExecStartPost=-/usr/bin/touch /usr/share/cobbler/web/cobbler.wsgi
PrivateTmp=yes
KillMode=process

[Install]
WantedBy=multi-user.target